* {
    box-sizing: border-box;
}

body {
    background-image: url('hkwall.png');
    background-size: cover;
}

header, main {
    min-width: 500px;
    margin: 0 20%;
}

header { 
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.85);
    border: 4px solid black;
}

header div#image {
    width: 200px;
    height: 200px;
    background-image: url('hkpic.jpg');
    background-size: cover;
    background-position: center;
    margin: 1%;
    border: 4px solid black;
}

button#reset {
    position: relative;
    bottom: 5px;
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 100px;
}

button#reset:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.85);
    border: 4px solid black;
}

#left, #right {
    position: relative;
    left: 0px;
    width: 50%;
    padding: 1%;
}

#left {
    border-right: 4px solid black;
}

ul {
    list-style-type: none;
}

#mask_shards, #vessel_fragments {
    text-align: center;
}

#right button {
    width: 20%;
    border: 1px solid black;
    background-color: white;
}

#right button:disabled {
    border: none;
}

li {
    font-size: 22px;
}
